//  ████████ ██   ██ ███████ ███    ███ ███████ 
//     ██    ██   ██ ██      ████  ████ ██      
//     ██    ███████ █████   ██ ████ ██ █████   
//     ██    ██   ██ ██      ██  ██  ██ ██      
//     ██    ██   ██ ███████ ██      ██ ███████

// Blue Grey Theme
// $sidebar-widget-bg-color: #262626;
// $widget-border-color: #404040;
// $slider-bg-color: #404040;
// $main-bg-color: #303030;
// $main-bg-color-translucent: rgba(48,48,48,0.8);
// $light-blue: #88c0d0;
// $light-yellow: #ebcb8b;
// $light-pink: #b48ead;
// $light-green: #a3be8c;
// $main-fg-color: #e5e9f0;

// One Dark Theme
$sidebar-widget-bg-color: #282C34;
$widget-border-color: #1e2127;
$slider-bg-color: #1e2127;
$main-bg-color: #282C34;
$main-bg-color-translucent: rgba(40,44,52,0.8);
$light-blue: #61afef;
$light-yellow: #d19a66;
$light-pink: #c678dd;
$light-green: #98c379;
$main-fg-color: #fffefe;


//  ██    ██  █████  ██████  ██  █████  ██████  ██      ███████ ███████ 
//  ██    ██ ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██      ██      
//  ██    ██ ███████ ██████  ██ ███████ ██████  ██      █████   ███████ 
//   ██  ██  ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██           ██ 
//    ████   ██   ██ ██   ██ ██ ██   ██ ██████  ███████ ███████ ███████

$giant-text: 65px;
$xl-text-size: 35px;
$large-main-text-size: 24px;
$medium-text-size: 20px;
$icon-font: "Font Awesome 6 Free Solid";
$popup-icon-size: 96px;
$sidebar-widget-margins: 20px 20px 0px 20px;
$widget-border-radius: 12px;
$indicator-icon-size: 40px;
$indicator-bar-height: 20px;
$slider-icon-min-width: 50px;
$slider-icon-outer-margin: 20px;
$slider-icon-inner-margin: 10px;
$slider-left-margin: 20px;
$data-min-width: 300px;
$music-art-size: 150px;
$sidebar-min-width: 550px;


//   ██████  ██       ██████  ██████   █████  ██      
//  ██       ██      ██    ██ ██   ██ ██   ██ ██      
//  ██   ███ ██      ██    ██ ██████  ███████ ██      
//  ██    ██ ██      ██    ██ ██   ██ ██   ██ ██      
//   ██████  ███████  ██████  ██████  ██   ██ ███████

* {
  all: unset; //Unsets everything so you can style everything from scratch
}

window {
  color: $main-fg-color;
  font-family: Hack;
}
 
.border-box {
  border-width: 3px;
  border-style: solid;
  border-color: $widget-border-color;
  background-color: $sidebar-widget-bg-color;
  border-radius: $widget-border-radius; 
  margin: $sidebar-widget-margins;
  min-width: $sidebar-min-width;
  padding: 10px;
}

.extra-bottom-margin {
  margin-bottom: 20px;
}


//   ██████  █████  ██      ███████ ███    ██ ██████   █████  ██████  
//  ██      ██   ██ ██      ██      ████   ██ ██   ██ ██   ██ ██   ██ 
//  ██      ███████ ██      █████   ██ ██  ██ ██   ██ ███████ ██████  
//  ██      ██   ██ ██      ██      ██  ██ ██ ██   ██ ██   ██ ██   ██ 
//   ██████ ██   ██ ███████ ███████ ██   ████ ██████  ██   ██ ██   ██

.cal {
  color: $light-blue;
  padding: 5px;
  padding-bottom: 0px;
}

.cal:selected {
  color: $main-bg-color;
  background: $light-blue;
  border-radius: $widget-border-radius;
}


//  ██    ██  ██████  ██      ██    ██ ███    ███ ███████ 
//  ██    ██ ██    ██ ██      ██    ██ ████  ████ ██      
//  ██    ██ ██    ██ ██      ██    ██ ██ ████ ██ █████   
//   ██  ██  ██    ██ ██      ██    ██ ██  ██  ██ ██      
//    ████    ██████  ███████  ██████  ██      ██ ███████

.vol { 
  border-width: 3px;
  border-style: solid;
  border-color: $widget-border-color;
  border-radius: $widget-border-radius;
  background-color: $main-bg-color-translucent;
}

.vol scale trough highlight {
  all: unset;
	background-color: $light-blue;
	color: #000000;
	border-radius: 100px;
}

.vol scale trough {
	all: unset;
	background-color: $slider-bg-color;
	border-radius: 50px;
	min-height: 35px;
  min-width: 250px;
  margin: 30px;
}

.vol-icon {
  font-family: $icon-font;
  font-size: $popup-icon-size; 
  margin-top: 80px; 
  //margin-right: 9px;
  color: $light-blue;
}


//  ██████  ██████  ██  ██████  ██   ██ ████████ ███    ██ ███████ ███████ ███████ 
//  ██   ██ ██   ██ ██ ██       ██   ██    ██    ████   ██ ██      ██      ██      
//  ██████  ██████  ██ ██   ███ ███████    ██    ██ ██  ██ █████   ███████ ███████ 
//  ██   ██ ██   ██ ██ ██    ██ ██   ██    ██    ██  ██ ██ ██           ██      ██ 
//  ██████  ██   ██ ██  ██████  ██   ██    ██    ██   ████ ███████ ███████ ███████

.bright { 
  border-width: 3px;
  border-style: solid;
  border-color: $widget-border-color;
  border-radius: $widget-border-radius;
  background-color: $main-bg-color-translucent;
}

.bright scale trough highlight {
  all: unset;
	background-color: $light-yellow;
	color: #000000;
	border-radius: 100px;
}

.bright scale trough {
	all: unset;
	background-color: $slider-bg-color;
	border-radius: 50px;
	min-height: 35px;
  min-width: 250px;
  margin: 30px;
}

.bright-icon {
  font-family: $icon-font;
  font-size: $popup-icon-size; 
  margin-top: 80px; 
  color: $light-yellow;
}


//  ██████  ██       █████  ██    ██ ██████   █████   ██████ ██   ██ 
//  ██   ██ ██      ██   ██  ██  ██  ██   ██ ██   ██ ██      ██  ██  
//  ██████  ██      ███████   ████   ██████  ███████ ██      █████   
//  ██      ██      ██   ██    ██    ██   ██ ██   ██ ██      ██  ██  
//  ██      ███████ ██   ██    ██    ██████  ██   ██  ██████ ██   ██ 


.music-info {
  min-width: $sidebar-min-width - $music-art-size - 60px;
  margin-top: 20px;
}

.musicart {
  background-size: $music-art-size;
  background-repeat: no-repeat;
  min-height: $music-art-size;
  min-width: $music-art-size;
  margin: 30px;
  border-radius: $widget-border-radius;
}

.musictitle {
  // font-size: 24px;
  font-size: $large-main-text-size;
  font-weight: bold;
  //margin-top: 80px;
  margin-bottom: 10px;
  margin-right: 30px;
  color: $light-green;
}

.musicalbum {
    font-size: $medium-text-size;
    margin-bottom: 10px;
    margin-right: 30px;
    //color: #8fbcbb;
    // width: 100px;
}

.musicartist {
  font-size: $medium-text-size;
  margin-bottom: 0px; 
  margin-right: 30px;
  //color: #88c0d0;
}

.musicbtn {
  margin-right: 30px;
}
.musicbtn button {
  font-size: 26px;
  font-family: $icon-font;
  color: $slider-bg-color;
  padding: 10px 20px 10px 20px;
  margin-top: 10px;
}

.musicbtn button:hover {
  color: $light-blue;
}


//  ██     ██ ███████  █████  ████████ ██   ██ ███████ ██████  
//  ██     ██ ██      ██   ██    ██    ██   ██ ██      ██   ██ 
//  ██  █  ██ █████   ███████    ██    ███████ █████   ██████  
//  ██ ███ ██ ██      ██   ██    ██    ██   ██ ██      ██   ██ 
//   ███ ███  ███████ ██   ██    ██    ██   ██ ███████ ██   ██

.weather-info-side {
  margin: $sidebar-widget-margins;
  margin-bottom: 20px;
}

.weather-icon-side {
  font-size: 70px;
  font-family: $icon-font;
  margin: 5px 0px 5px 30px;
}

.weather-stat-side {
  font-size: $large-main-text-size;
  font-weight: bold;
  margin-bottom: 25px;
  color: $light-blue;
}

.weather-quote {
  font-size: $medium-text-size;
}

.temp-info {
  margin-bottom: 20px;
}

.temperature-side {
  font-size: $xl-text-size;
  font-weight: 900;
  margin-right: 30px;
}

.thermometer {
  font-family: $icon-font;
  font-size: $xl-text-size;
  color: #d08770;
}


//  ███████ ██    ██ ███████ ████████ ███████ ███    ███     ██ ███    ██ ███████  ██████  
//  ██       ██  ██  ██         ██    ██      ████  ████     ██ ████   ██ ██      ██    ██ 
//  ███████   ████   ███████    ██    █████   ██ ████ ██     ██ ██ ██  ██ █████   ██    ██ 
//       ██    ██         ██    ██    ██      ██  ██  ██     ██ ██  ██ ██ ██      ██    ██ 
//  ███████    ██    ███████    ██    ███████ ██      ██     ██ ██   ████ ██       ██████ 

.sliders-side {
  font-family: $icon-font;
  padding: 5px;
}


// CPU
.slider-cpu-side scale trough highlight {
  all: unset;
	background-color: $light-pink;
	color: #000000;
	border-radius: 50px;
}

.slider-cpu-side scale trough {
	all: unset;
	background-color: $slider-bg-color;
	border-radius: 50px;
	min-height: $indicator-bar-height;
  min-width: 300px;
  margin-top: 22px;
  margin-left: $slider-left-margin;
  margin-right: $slider-icon-outer-margin;
}

.label-cpu-side {
  font-size: $indicator-icon-size;
  margin-left: $slider-icon-outer-margin;
  margin-top: $slider-icon-outer-margin;
  color: #b48ead;
  min-width: $slider-icon-min-width;
}

// RAM
.slider-ram-side scale trough highlight {
  all: unset;
	background-color: $light-yellow;
	color: #000000;
	border-radius: 50px;
}

.slider-ram-side scale trough {
	all: unset;
	background-color: $slider-bg-color;
	border-radius: 50px;
	min-height: $indicator-bar-height;
  min-width: 300px;
  margin-top: 8px;
  margin-left: $slider-left-margin;
  margin-right: $slider-icon-outer-margin;
}

.label-ram-side {
  font-size: $indicator-icon-size;
  margin-left: $slider-icon-outer-margin;
  margin-top: $slider-icon-inner-margin;
  color: $light-yellow;
  min-width: $slider-icon-min-width;
}

// HDD
.slider-hdd-side scale trough highlight {
  all: unset;
	background-color: $light-green;
	color: #000000;
	border-radius: 100px;
}

.slider-hdd-side scale trough {
	all: unset;
	background-color: $slider-bg-color;
	border-radius: 50px;
	min-height: $indicator-bar-height;
  min-width: 300px;
  margin-top: -8px;
  margin-left: $slider-left-margin;
  margin-right: $slider-icon-outer-margin;
}

.label-hdd-side {
  font-size: $indicator-icon-size;
  margin-bottom: $slider-icon-outer-margin;
  margin-left: $slider-icon-outer-margin;
  margin-top: $slider-icon-inner-margin;
  color: $light-green;
  min-width: $slider-icon-min-width;
}


//  ██    ██  ██████  ██            ██████  ██████  ██  ██████  ██   ██ ████████ 
//  ██    ██ ██    ██ ██            ██   ██ ██   ██ ██ ██       ██   ██    ██    
//  ██    ██ ██    ██ ██      █████ ██████  ██████  ██ ██   ███ ███████    ██    
//   ██  ██  ██    ██ ██            ██   ██ ██   ██ ██ ██    ██ ██   ██    ██    
//    ████    ██████  ███████       ██████  ██   ██ ██  ██████  ██   ██    ██   

.slider-vol-side scale trough highlight {
	background-color: $light-blue;
	color: #000000;
	border-radius: 50px;
}

.slider-vol-side scale trough {
	background-color: $slider-bg-color;
	border-radius: 50px;
	min-height: $indicator-bar-height;
  min-width: 300px;
  margin-top: 3px;
  margin-left: $slider-left-margin;
  margin-right: $slider-icon-outer-margin;
}

.slider-vol-side scale slider {
	min-width: 20px;
	min-height: 20px;
}

.label-vol-side {
  font-size: $indicator-icon-size;
  margin-left: $slider-icon-outer-margin; 
  color: $light-blue;
  min-width: $slider-icon-min-width;
}

.slider-bright-side scale trough highlight {
  all: unset;
	background-color: $light-yellow;
	color: #000000;
	border-radius: 100px;
}

.slider-bright-side scale trough {
	all: unset;
	background-color: $slider-bg-color;
	border-radius: 50px;
	min-height: $indicator-bar-height;
  min-width: 300px;
  margin-bottom: 20px;
  margin-left: $slider-left-margin;
  margin-right: $slider-icon-outer-margin;
  margin-top: 10px;
}

.slider-bright-side scale slider {
	min-width: 20px;
	min-height: 20px;
}

.label-bright-side {
  font-size: $indicator-icon-size;
  margin-bottom: $slider-icon-outer-margin;
  margin-left: $slider-icon-outer-margin; 
  margin-top: $slider-icon-inner-margin;
  color: $light-yellow;
  min-width: $slider-icon-min-width;
}