[Unit]
Description=Run the backup service every weekday at 11:00

[Timer]
OnCalendar=Mon,Tue,Wed,Thu,Fri *-*-* 11:00:00

[Install]
WantedBy=timers.target
