[Unit]
Description=Run a system backup to PBS on Coreworlds
OnFailure=mail-systemd-failure@%n.service

[Service]
Type=oneshot
ExecStart=/home/bennett/scripts/system_backup/backup.sh
