[Unit]
Description=Run a system backup to PBS on Coreworlds

[Service]
Type=oneshot
EnvironmentFile=/etc/systemd/system/backup.env
ExecStart=/etc/systemd/system/backup.sh
User=root
Group=root
